
<div class="modal" id="modalGenerico" data-animation="slideInOutLeft">
  <div class="modal-dialog">
    <header class="modal-header">      
      <span class="" aria-label="close modal" data-close>✕</span>
    </header>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-5">
          <img class="modal-img-product filter-im" id="modalGenericoImg" alt="prod">
        </div>
        <div class="col-md-7">          
          <span class="modal-type-product" id="modalTipoProducto"></span><br>          
          <p class="modal-title-product" id="modalTituloProducto"></p>
          <hr>
          <p>
            <a href="https://www.instagram.com/ninfa_natural/" target="_blank"><img src="images/banners/igram.png" width="25" height="25"></a>
            <a href="https://www.facebook.com/ninfa.sanacion" target="_blank"><img src="images/banners/facebook.png" width="25" height="25"></a>
            <a href="https://wa.me/56949500353" target="_blank"><img src="images/banners/wath.png" width="25" height="25"></a>
          </p>
          <p class="modal-price-product" id="modalPrecioProducto"></p>          
          <p class="modal-description-product" id="modalDescripcionProducto"></p>
        </div>
      </div>
    </div>  
  </div>
</div>
