 <!-- ============ About Us ============= -->

<section id="story" class="description_content">
    <div class="text-content container">
        <div class="products-section background_content">                
    </div>
        
        <div class="col-md-6">

            

            <h1>Acerca de mi</h1>
            <p class="desc-text">
                
                Mari Mari! Soy Jazmin creadora de ninfa sanación. Soy terapeuta Complementaria y me enfoco en el equilibrio de la salud a través de las hierbas medicinales. Además de realizar terapias holisticas.

                El amor por lo que hago nace a través de ver y comprobar la poderosa magia que hay en nuestro alrededor para sanarnos. "volver a la raíz y encontrar el equilibrio en la madre tierra".

                Otro factor es la necesidad de ver como mi entorno ha sido perjudicados por los medicamentos farmacéuticos y químicos, llenos de efectos secundarios. Pero

                en cambio la medicina natural nos aporta bienestar completo, es amable con nuestro cuerpo logrando así que los órganos activen su propio poder de curación, sin perjudicar otro sistema de nuestro cuerpo. Esto es la razón por la cual me he complementado e inspirado en esta técnica de equilibrio holístico.

                A base de esto elaboró medicamentos naturales de acuerdo a la necesidad que surge a mi alrededor y de un constante aprendizaje que hace que haya un constante crecimiento de productos.

                Bienvenidos y gracias por su recorrido en esta página. 

            </p>
        </div>
        <div class="col-md-6">
            <div class="img-section">
                <img src="images/cremas/Crema_psoriasis.png" width="250" height="220">
                <img src="images/cremas/Crema_psoriasis.png" width="250" height="220">
                <div class="img-section-space"></div>
                <img src="images/cremas/Crema_psoriasis.png"  width="250" height="220">
                <img src="images/cremas/Crema_psoriasis.png"  width="250" height="220">
            </div>
        </div>
    </div>
</section>
<style>
  .slider-example-opacity-and-size {
    --handle-opacity: 0.5;
    --handle-opacity-active: 0.5;
    --handle-size: 60px;
  }
</style>