<section class="social_connect">
    <div class="text-content container"> 
        <div class="col-md-6">
            <span class="social_heading">Siguenos en</span>
            <br>
            <a href="https://www.instagram.com/ninfa_natural/" target="_blank"><img src="images/banners/igram.png" width="35" height="35"></a>
            <a href="https://www.facebook.com/ninfa.sanacion" target="_blank"><img src="images/banners/facebook.png" width="35" height="35"></a>
            
            
        </div>
        <div class="col-md-4">
            <span class="social_heading">O al wathsapp</span>
            <span class="social_info"><a class="color_animation" href="https://wa.me/56949500353"><img src="images/banners/wath.png" width="35" height="35"> +569 4950 0353</a></span>
        </div>
    </div>
</section>
<footer class="sub_footer">
    <div class="container">
        <div class="col-md-4"><p class="sub-footer-text text-center"></p></div>
        <div class="col-md-4"><p class="sub-footer-text text-center">Ninfa Natural</p>
        </div>
        <div class="col-md-4"><p class="sub-footer-text text-center">Santiago, Chile.</p></div>
    </div>
</footer>