
<section id ="products-section" class="description_content">
    
    <div class="text-content container"> 
        <div class="container">
            <div class="row">
                <div id="w">
                    <ul id="filter-list" class="clearfix"></ul>  
                    <ul id="portfolio">
                        <li class="item cremas open-modal filter-imgs" data-open="modalGenerico" id="idCrema1"></li>
                        <li class="item cremas open-modal filter-imgs" data-open="modalGenerico" id="idCrema2"></li>
                        <li class="item cremas open-modal filter-imgs" data-open="modalGenerico" id="idCrema3"></li>
                        <li class="item cremas open-modal filter-imgs" data-open="modalGenerico" id="idCrema4"></li>
                        <li class="item cremas open-modal filter-imgs" data-open="modalGenerico" id="idCrema5"></li>
                        <li class="item cremas open-modal filter-imgs" data-open="modalGenerico" id="idCrema6"></li>
                        <li class="item cremas open-modal filter-imgs" data-open="modalGenerico" id="idCrema7"></li>
                        <li class="item cremas open-modal filter-imgs" data-open="modalGenerico" id="idCrema8"></li>

                        <li class="item deos open-modal filter-imgs" data-open="modalGenerico" id="idDeos1"></li>
                        <li class="item deos open-modal filter-imgs" data-open="modalGenerico" id="idDeos2"></li>   

                        <li class="item capilar open-modal filter-imgs" data-open="modalGenerico" id="idCapilar1"></li>
                        <li class="item capilar open-modal filter-imgs" data-open="modalGenerico" id="idCapilar2"></li> 

                        <li class="item facial open-modal filter-imgs" data-open="modalGenerico" id="idFacial1"></li>
                        <li class="item facial open-modal filter-imgs" data-open="modalGenerico" id="idFacial2"></li> 

                        <li class="item jabones open-modal filter-imgs" data-open="modalGenerico" id="idJabon1"></li>
                        <li class="item jabones open-modal filter-imgs" data-open="modalGenerico" id="idJabon2"></li> 
                        <li class="item jabones open-modal filter-imgs" data-open="modalGenerico" id="idJabon3"></li>
                        <li class="item jabones open-modal filter-imgs" data-open="modalGenerico" id="idJabon4"></li>

                        <li class="item esoteria open-modal filter-imgs" data-open="modalGenerico" id="idEsoteria1"></li>
                        <li class="item esoteria open-modal filter-imgs" data-open="modalGenerico" id="idEsoteria2"></li> 
                        <li class="item esoteria open-modal filter-imgs" data-open="modalGenerico" id="idEsoteria3"></li>                        
                    </ul>   
                </div>
            </div>
        </div>
    </div>  
</section>
