<section id ="promos-section" class="description_content">
    <div  class="promos-section background_content">       
    </div>
    <div class="text-content container"> 
        <div class="col-md-5">
            <div class="img-section">
                <img src="images/cremas/Crema_psoriasis.png" width="100%">
            </div>
        </div>
        <br>
        <div class="col-md-6 col-md-offset-1">
            <h1>OUR promos-section</h1>
            <div class="icon-promos-section fa-2x"></div>
            <p class="desc-text">Here at Restaurant we’re all about the love of promos-section. New and bold flavors enter our doors every week, and we can’t help but show them off. While we enjoy the classics, we’re always passionate about discovering something new, so stop by and experience our craft at its best.</p>
        </div>
    </div>

    <div class="text-content container"> 
        <div class="col-md-5">
            <div class="img-section">
                <img src="images/cremas/Crema_psoriasis.png" width="100%">
            </div>
        </div>
        <br>
        <div class="col-md-6 col-md-offset-1">
            <h1>OUR promos-section</h1>
            <div class="icon-promos-section fa-2x"></div>
            <p class="desc-text">Here at Restaurant we’re all about the love of promos-section. New and bold flavors enter our doors every week, and we can’t help but show them off. While we enjoy the classics, we’re always passionate about discovering something new, so stop by and experience our craft at its best.</p>
        </div>
    </div>
    <div class="text-content container"> 
        <div class="col-md-5">
            <div class="img-section">
                <img src="images/cremas/Crema_psoriasis.png" width="100%">
            </div>
        </div>
        <br>
        <div class="col-md-6 col-md-offset-1">
            <h1>OUR promos-section</h1>
            <div class="icon-promos-section fa-2x"></div>
            <p class="desc-text">Here at Restaurant we’re all about the love of promos-section. New and bold flavors enter our doors every week, and we can’t help but show them off. While we enjoy the classics, we’re always passionate about discovering something new, so stop by and experience our craft at its best.</p>
        </div>
    </div>

   
</section>