
<!DOCTYPE html>
<html>
	<head>
		<title>Chat</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<link rel="stylesheet" href="../css/internal.css">
	</head>
	<body>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
						<div class="input-group">
							<button class="btn btn-danger" id="btnSalir">Salir</button>						
						</div>
					</div>
					<div class="card-body contacts_body">
						<ui class="contacts" id="list-chats">						
						</ui>
					</div>
					<div class="card-footer"></div>
				</div></div>
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head" id="divMsgHead">
										
							
						</div>
						<div class="card-body msg_card_body" id="list-messages">							
						</div>
						<div class="card-footer">
							<div class="input-group" id="div-input-send">								
								<textarea id="messageToSend" name="" class="form-control type_msg" placeholder="Seleccione un mensaje para iniciar conversación..." disabled></textarea>
								<div class="input-group-append" id="btn-send-message">
									<span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
<script src="../socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

$(document).ready(()=>{

   	const url = ( window.location.hostname.includes('localhost') )
            ? 'http://localhost:3001'
            : 'https://ninfanatural.herokuapp.com/';
				
	var msgsHtml      = "";
	var CHATS         = "";
	var MESSAGES      = "";
	var SELECTED_CHAT = "";
	const TOKEN       = localStorage.getItem('token');

	if (!TOKEN) {
		window.location = `${url}/internal/login`;
	}


   	const conectSocket = async() => {
		socket = io({
			'extraHeaders': {
				'x-token': localStorage.getItem('token')
			}   
		});

		socket.on('_internalChat', (data) => {    
			console.log(data)
			CHATS    = data.chats;
			console.log(CHATS)
			MESSAGES = data.messages;
			setChats();
			$('#list-messages').scrollTop($('#list-messages').prop('scrollHeight'));

		});

		socket.on('_updateChatMessage', (data) => {			
			CHATS = data.chats;
			activeChat(data.chatId);
			setUpdateChatMesages(data);
			const audio = new Audio('../audio/new-ticket.mp3');  
        	audio.play();
			$('#list-messages').scrollTop($('#list-messages').prop('scrollHeight'));
		});

		$(document).on('click',"#btnSalir",function() {			
			localStorage.removeItem('token');
			location.reload();	
		})

		$(document).on('click',"#btnProducts",(event) => {
			event.preventDefault();			
		    window.location = `${url}/internal/products?token=${localStorage.getItem('token')}`;
		})

		$(document).on('click',".listChatsItem",function() {
			var chatId    =  $(this).attr('data-chat-id');
			SELECTED_CHAT = chatId;
			$("#messageToSend").prop("disabled", false);
			$("#messageToSend").attr("placeholder", "Escriba su mensaje...");
			activeChat(chatId);
			setMsgHead(chatId);
			setMessages(chatId);
			$('#list-messages').scrollTop($('#list-messages').prop('scrollHeight'));

		})

		$(document).on('click',"#btn-send-message",function() {
			var message =  $("#messageToSend").val();         
			const data = {
				message,
				type     : "ADMIN",
				chart_id : SELECTED_CHAT
			}
			socket.emit('_postMessage', data);
			$('#list-messages').scrollTop($('#list-messages').prop('scrollHeight'));
      	})

		$(document).on('keyup', "#messageToSend", (val) => {
            if (val.keyCode === 13) {
				const message =  $("#messageToSend").val();
				if (!((!message.trim()))) {
					const data    = {
						message,
						type     : "ADMIN",
						chart_id : SELECTED_CHAT
					}					
					socket.emit('_postMessage', data);
					$("#messageToSend").val('')
					$('#list-messages').scrollTop($('#list-messages').prop('scrollHeight'));
				} else {
					$("#messageToSend").val('')
				}
            }
		})
	
		$(document).on('click', "#btnAlias", async () => {
			const alias =  $('#inputAlias').val();
			data = {
				alias,
				chartId: SELECTED_CHAT
			}
			await socket.emit('_changeAlias', data);
			$("#headChat").html(alias)
		})
	
	}

	
	const activeChat = (chatId) => {		
		CHATS.forEach((val, idx) => {
			if (val.id === chatId) {
				CHATS[idx].active = true;
			} else {
				CHATS[idx].active = false;
			}
		})
		setChats()
	}
	const setMsgHead = (chatId) => {
		const chat         = CHATS.filter( ch => ch.id === chatId );
		const chatMessages = MESSAGES.filter( mess => mess.chat_id === chatId );		
		var html = "";
		html +=`<div class="d-flex bd-highlight">`;
		html +=	`<div class="img_cont">`;
		html +=		`<img src="../images/banners/logo-ninfa.png" class="rounded-circle user_img">`;
		//html +=		`<span class="online_icon"></span>`;
		html +=	`</div>`;
		html +=	`<div class="user_info">`;
		html +=		`<span id="headChat">${chat[0].alias ? chat[0].alias : chat[0].id}</span>`;
		html +=		`<p>${chatMessages.length} mensajes</p>`;
		html +=	`</div>`;							
				
		html +=	`<div class=""">`;
		html +=		`<div class="input-group">`;
		html +=			`<input type="text" placeholder="Escriba un alias" name="" class="form-control search" id="inputAlias"">`;
		html +=			`<div class="input-group-prepend">`;
		html +=				`<span class="input-group-text search_btn" id="btnAlias" data-alias="${chat[0].id}">Editar</span>`;
		html +=	 		`</div>`;
		html +=		`</div>`;
		html +=	`</div>`;


		html +=`</div>`;
		$("#divMsgHead").html(html);
	}
	const setChats   = () => {
		var html = "";
		if (CHATS.length > 0)  {
			CHATS.forEach((val) => {
				html += `<li class='${val.active? "active" : ""} ${val.status == "NEW"? "new" : ""} listChatsItem' data-chat-id='${val.id}'>`;
				html += 	`<div class="d-flex bd-highlight">`;
				html += 		`<div class="img_cont">`;
				html += 			`<img src="../images/banners/logo-ninfa.png" class="rounded-circle user_img">`;
				html += 		`</div>`;
				html += 		`<div class="user_info">`;
				html += 			`<span>${val.alias ? val.alias : val.id}</span>`;
				html += 			`<p>${val.updated_at}</p>`;
				html += 			`<p><button class="btnDeleteChat btn btn-warning btn-xs" data-chat="${val.id}">eliminar chat</button></p>`;
				html += 		`</div>`;
				html += 	`</div>`;
				html += `</li>`;					
			
			})         
			$("#list-chats").html(html);
		}
		
	}

	$(document).on('click', '.btnDeleteChat', function() {
		Swal.fire({
			title: '¿Seguro?',
			text: "Estas apunto de eliminar un chat. Un vez eliminado no podras recuperarlo.",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#78e08f',
			cancelButtonColor: '#c82333',
			confirmButtonText: 'Sí!',
			cancelButtonText: 'No!'
		}).then((result) => {
			if (result.isConfirmed) {
				const data = {
					chatId: $(this).attr("data-chat")
				}
				socket.emit('_deleteChat', data)
			}
		})
		

	});


	const setMessages = (chatId) => {
		const chatMessages = MESSAGES.filter( mess => mess.chat_id === chatId );		
		writeMessageCloud(chatMessages);
	}

	const setUpdateChatMesages = (data) => {        
		const chatMessages = MESSAGES.filter( mess => mess.chat_id === data.chatId );		
		chatMessages.push( data.newMessage );
		MESSAGES.push( data.newMessage );
		writeMessageCloud(chatMessages);
		setMsgHead(data.chatId);
	}

	const writeMessageCloud = (chatMessages) => {
		var html = "";
		chatMessages.forEach((val) => {
			if (val.type != "ADMIN") {
				html += `<div class="d-flex justify-content-start mb-4">`
				html += 	`<div class="img_cont_msg">`
				html += 		`<img src="../images/banners/logo-ninfa.png" class="rounded-circle user_img_msg">`
				html += 	`</div>`
				html += 	`<div class="msg_cotainer">`
				html += 		`${val.message}`
				html += 		`<span class="msg_time">${val.created_at}</span>`
				html += 	`</div>`
				html += `</div>`
			} else {
				html += `<div class="d-flex justify-content-end mb-4">`
				html += 	`<div class="msg_cotainer_send">`
				html += 		`${val.message}`
				html += 		`<span class="msg_time_send">${val.created_at}</span>`
				html += 	`</div>`
				html += 	`<div class="img_cont_msg">`
				html += 		`<img src="../images/banners/fotojaz.png" class="rounded-circle user_img_msg">`
				html += 	`</div>`
				html += `</div>`
			}			
		})
		$("#list-messages").html(html);  
	}
	
	const main = async() => {
		await conectSocket();
	}
	main();
})

</script>
